.fixed-assets {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &__tabs {
    margin-top: var(--space-sm);
  }

  &__panel {
    padding: var(--space-lg);
    background-color: var(--neutral-color-0);
    border: 1px solid var(--neutral-color-200);
    border-radius: var(--border-radius-md);
  }
}
