.client-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &__filters {
    display: flex;
    align-items: flex-end;
    gap: var(--space-md);
  }

  &__search {
    flex: 1;
    max-width: 24rem;
  }

  &__status {
    min-width: 12rem;

    label {
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      font-weight: 600;
      color: var(--neutral-color-700);
    }
  }
}
